/************************************ Tags ************************************/
html, body {
	font-size: 16px;
	padding: 50px 0;
}

img {
	width: 100%;
	height: auto;
}

footer {
	padding: 10px;
	text-align: center;
}
/*____________________________________________________________________________*/


/************************************ IDs ************************************/
#filogo {
	float: left;
	margin: 2px;
	padding: 2px;
	width: 20%;
	height: auto;
}
/*____________________________________________________________________________*/


/*********************************** Clases ***********************************/
.navbar-right {
	padding: 0.6%;
}

.home-option {
	padding: 2%;
	text-align: center;
}

.home-option  a {
	margin: 5% 3%;
}

.home-option > header {
	background: rgb(37,141,200); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(37,141,200,1) 0%, rgba(37,141,200,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,141,200,1)), color-stop(100%,rgba(37,141,200,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 ); /* IE6-9 */

	box-shadow: 0 0 5px black;
}

.home-option-body {
	background-color: #FFF2CC;
	height: 70px;
	box-shadow: 0 0 2px black;
}

.home-option h2 {
	margin-bottom: 0;
	padding: 5px;
	font-weight: bold;
	font-size: 1.5625em;
	color: white;
	text-shadow: 0 -1px 0 black;
}

.row {
	margin: 2%;
}
/*____________________________________________________________________________*/