/************************************ Tags ************************************/
html, body {
	font-size: 16px;
	padding-bottom: 70px;
}

img {
	width: 100%;
	height: auto;
}

footer {
	padding: 10px;
	text-align: center;
}
/*____________________________________________________________________________*/


/************************************ IDs ************************************/
#filogo {
	float: left;
	margin: 2px;
	padding: 2px;
	width: 20%;
	height: auto;
}
/*____________________________________________________________________________*/


/*********************************** Clases ***********************************/
.navbar-right {
	padding: 0.6%;
}
/*____________________________________________________________________________*/